.footer {
    height: 300px;

    background: var(--color-black);
    color: var(--color-white);
}

.footer__container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__title {
    font-size: 32px;
}

.footer__nav {
    display: flex;
}

.footer__nav ul {
    gap: 14px;
}

.footer__nav a {
    font-size: 14px;
}

.navbar__item_withIcon a {
    flex-direction: row-reverse;
}
.footer__socials {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1124px) {
    .footer {
        height: 240px;
        padding: 46px 0;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
    }
}
