.swiper {
    position: relative;
    margin: 0;
    max-width: 710px;
}
.swiper-wrapper {
    position: relative;
}
.swiper .swiper-pagination {
    bottom: 0;
}

.swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: gray;
}

.swiper .swiper-pagination-bullet-active {
    background: var(--color-black);
}

.swiper__desc {
    margin-bottom: 30px;
    padding: 0 10px;
    height: 30px;

    display: flex;
    align-items: center;

    background: var(--color-black);

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-white);
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    z-index: 100;
}

.controls__button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.controls__button_prev {
    transform: rotate(180deg);
}

.controls__button img {
    width: 100%;
    height: 100%;
}

.swiper .swiper-slide video{
    width: 100%;
    height: 422px;

}

@media screen and (max-width: 1124px) {
    .controls, .swiper__navigation {
        display: none;
    }
}

/* .slider {
    position: relative;
    width: 710px;
    @include below($lg) {
        width: 100%;
    }

    &__swiper {
        margin: 0;
        height: calc(100% + 50px);
        width: inherit;
        .swiper-wrapper {
            height: fit-content;
        }
    }
    &__modules {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        @include below($lg) {
            padding-top: 30px;
        }
    }
    &__navigation {
        display: flex;
        align-items: center;

        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        color: $color-black;
        @include below($lg) {
            display: none;
        }
    }
    &__slide {
        position: relative;
        cursor: pointer;
        width: 710px;
        height: auto;
        overflow: hidden;
        video {
            position: absolute;
            height: 100%;
            width: 100%;
            transform: scale(104%);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include below($lg) {
            width: 100%;
        }
    }
    &__desc {
        padding: 0 10px;
        height: 30px;

        display: flex;
        align-items: center;

        background: $color-black;

        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        color: $color-white;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        gap: 4px;
    }

    .swiper-pagination-bullet {
        display: block;
        width: 6px;
        height: 6px;
        
        border-radius: 50%;
        background: gray;
    }
    .swiper-pagination-bullet-active {
        background: #000;
    }
} */
