@import "./_bootstrap-reboot.min.css";
@import "./fonts.css";
@import "./vars.css";
@import "./swiper.min.css";

@import "./blocks/header.css";
@import "./blocks/mobileMenu.css";
@import "./blocks/navbar.css";
@import "./blocks/promo.css";
@import "./blocks/section.css";
@import "./blocks/footer.css";
@import "./blocks/swiper.css";



* {
    margin: 0;
    padding: 0;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#qr-img {
    width: 200px;
    height: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

body {
    background: url('../assets/bg.png') center center / cover no-repeat;
}

main {
    background: rgba(255, 255, 255, 0.45);
}

.title {
    display: block;
    width: 100%;
    border-bottom: 2px solid #000;
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
}

.container {
    max-width: 1074px;
    margin: 0 auto;
}

@media screen and (max-width: 1124px) {
    .container {
        width: 100%;
        max-width: unset;
        padding: 0 30px;
    }
}