@import '/src/styles/vars.scss';

.navigation {
    position: absolute;
    bottom: 0;
    z-index: 10;
    
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: $color-black;
}