@import '/src/styles/vars.scss';

.slider {
    position: relative;
    width: 710px;
    &__swiper {
        margin: 0;
        height: 480px;
        width: inherit;
        .swiper-wrapper {
            height: fit-content;
        }
    }
    &__slide {
        cursor: pointer;
        width: 710px;
    }
    &__desc {
        padding: 0 10px;
        height: 30px;

        display: flex;
        align-items: center;
        
        background: $color-black;
        
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        color: $color-white;
    }
}